.weather {
  border: 1px solid #dadde1;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
}

.weather h1 {
  text-align: center;
  font-size: 38px;
  margin-top: 0px;
}

.weather h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.weather ul.main {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  padding: 0;
}

.weather ul.main .temperature {
  font-size: 50px;
  font-weight: bold;
}

.weather ul.main .unit {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.weather ul.details {
  margin-top: 15px;
  text-align: left;
  list-style-type: none;
  font-size: 16px;
  padding: 0;
  line-height: 2.3em;
}

.weather .search-engine {
  margin: 30px auto;
  max-width: 380px;
  display: block;
}

div .weather {
  margin: 60px auto 10px;
  text-align: center;
}
